.down_arrow {
  // position: absolute;
  // top: 50%;
  &:before {
    font-family: "iconfont" !important;
    font-size: 40px;
    content: "\e603";
    font-style: normal;
    vertical-align: middle;
    color: #1890ff;
  }
}
.load_rotate {
  display: inline-block;
  // position: absolute;
  // top: 50%;
  &:before {
    font-family: "iconfont" !important;
    font-size: 50px;
    content: "\e6a1";
    font-style: normal;
    vertical-align: middle;
    color: #1890ff;
  }
  animation: rotate1 1s infinite;
}
@keyframes rotate1 {
  100% {
    transform: rotate(330deg);
  }
}

@import "./Mminx.scss";

.M-radio {
  position: relative;
  background-color: #fff;
  @include hairline-top-relative();
  @include hairline-bottom-relative();

  /* elements */
  &__option-wrap {
    padding: 24px 32px 24px 0px;
  }

  &__option-container {
    display: flex;
  }

  &__title {
    width: 86%;
    flex: 6;
    color: #333;
    font-size: 32px;
    text-align: left;
    line-height: 1.5;
    word-break: break-all;
  }

  &__icon {
    flex: 1;
    font-size: 32px;
    text-align: right;
    overflow: hidden;
    visibility: hidden;

    &--checked {
      visibility: visible;
    }

    .at-icon {
      color: #1890ff;
    }
  }

  &__desc {
    display: block;
    width: 86%;
    color: #999;
    font-size: 28px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0;
    word-break: break-all;
  }

  &__option {
    padding-left: 32px;
    // padding-left: 0px;
    @include active;
    font-size: 30px;
    &--disabled {
      .M-radio__option-container,
      .M-radio__desc {
        opacity: 0.3;
      }

      &:active {
        background-color: inherit;
      }
    }
  }

  &__option + &__option {
    .M-radio__option-wrap {
      @include hairline-top();
    }
  }
}
