.upload-top {
  // height: 100px;
  width: 98%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 5px dashed;
  border-radius: 20px;
  padding-bottom: 12px;
  .icon {
    &:before {
      font-family: "iconfont" !important;
      font-size: 170px;
      content: "\e697";
      font-style: normal;
    }
  }
}
.upload-top-blue {
  color: #1890ff;
  .icon {
    &:before {
      content: "\e696";
    }
  }
}
