@import "~taro-ui/dist/style/components/flex.scss";
@mixin plus {
  position: fixed;
  right: 10%;
  bottom: 10%;
  z-index: 10;
  font-family: "checkfont" !important;
  font-size: 110px;
  font-style: normal;
  color: #096dd9;
  transition: opacity 0.2s, transform 0.3s;
  transition-delay: 0.1s;
}
.trigger {
  @include plus;
  opacity: 1;
  text-shadow: 0 10rpx 25rpx rgba(0, 0, 0, 0.264);
}
.whitebg {
  position: absolute;
  top: 14%;
  left: 14%;
  // transform-origin: -50% -50%;
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 100%;
  z-index: -1;
}
.triggered {
  @include plus;
  transform: translate(0, 150%);
  opacity: 0;
}
@mixin toolbar_ {
  z-index: 11;
  position: fixed;
  height: 7%;
  bottom: 0px;
  // background-color: #fafafa;
  box-shadow: 0rpx -4rpx 6px #d9d9d9;
  padding: 20px 0px 20px 0px;
  color: #096dd9;
  font-size: 60px;
  transition: opacity 0.2s, transform 0.3s;
  transition-delay: 0.1s;
}

.toolbar {
  @include toolbar_;
  opacity: 1;
  background-color: white;
}
.hidetoolbar {
  @include toolbar_;
  opacity: 0;
  transform: translate(0, 100%);
}
@mixin greycircle {
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  animation: ripple 0.1s ease-out;
  content: "";
  transform: scale(1.3);
}
.close {
  font-family: "iconfont" !important;
  font-size: 70px;
  margin-right: 24px;
  position: relative;
}
.greyhover {
  &::after {
    @include greycircle;
  }
}
@keyframes ripple {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.3);
  }
}
.choosenum {
  // margin-right: 46px;
}
.chooseallt {
  font-size: 48px;
  margin-left: 10px;
}
.chooseall {
  position: relative;
  &::before {
    font-family: "checkfont";
    content: "\e607";
  }
}
.choosealled {
  position: relative;
  &::before {
    font-family: "iconfont" !important;
    content: "\e62f";
  }
}
.delete {
  font-family: "iconfont" !important;
  font-size: 68px;
  position: relative;
}
.print {
  position: relative;
  &::before {
    font-family: "checkfont";
    content: "\e75d";
    font-size: 68px;
  }
  .pps {
  }
}
