.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: visibility 200ms ease-in;
  &__overlay,
  &__content {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }
  &__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    // background-color: rgba($color: #000, $alpha: 0.3);
    background-color: rgba(0, 0, 0, 0.45);
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  &--active {
    visibility: visible;
    z-index: 13;
    .modal__overlay,
    .modal__content {
      opacity: 1;
    }
  }
}
