view,
text,
scroll-view,
input,
button,
image,
cover-view {
  box-sizing: border-box;
}
page {
  /* prettier-ignore */
  --height: 44PX; /* 4*2+32 */
  /* prettier-ignore */
  --right: 97PX; /* 10+87 */
  /* prettier-ignore */
  --navBarExtendHeight: 4PX;
  /* prettier-ignore */
  --navBarHeight: 68PX;
}
.lxy-nav-bar {
  height: var(--navBarHeight);
  // border-bottom: solid 1px #999;
}
.lxy-nav-bar.android {
  /* prettier-ignore */
  --height: 48PX; /* 8*2+32 */
  /* prettier-ignore */
  --navBarHeight: 72PX;
  height: var(--navBarHeight);
}
.lxy-nav-bar .devtools {
  /* prettier-ignore */
  --height: 42PX; /* 5*2+32 */
}
.lxy-nav-bar__inner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5001;
  /* prettier-ignore */
  height:  var(--navBarHeight);
  // display: flex;
  align-items: center;
  padding-right: var(--right);
  width: 100%;
  /* prettier-ignore */
  padding-top: 20PX;
  /* prettier-ignore */
  padding-bottom:4PX;
}

.lxy-nav-bar__placeholder {
  height: var(--navBarHeight);
  background: #f8f8f8;
  position: relative;
  z-index: 50;
  visibility: hidden;
}

.hiavatar {
  padding-left: 20px;
  font-size: 44px;
  vertical-align: baseline;
  .my-avatar.at-avatar--small {
    display: inline-block;
    width: 70px;
    height: 70px;
  }

  .hitext {
    // padding-bottom: 16px;
  }
}
.choosepp {
  position: relative;
  font-family: "iconfont";
  margin-right: 10px;
  max-width: 55%;
  justify-content: flex-end;
  .pp {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .downarrow {
    font-size: 38px;
    // transform: rotate(-180deg);
    transition: transform 0.2s;
  }
  .uparrow {
    font-size: 38px;
    transform: rotate(180deg);
    transition: transform 0.2s;
  }
}
// .choosepphover {
//   color: #69c0ff;
// }
.rootclass {
  z-index: 6000;
  position: absolute;
  top: 92%;
  width: 60%;
  opacity: 0;
  background-color: white;
  border: solid 1px #d9d9d9;
  box-shadow: 0px 0px 20px #d9d9d9;
  border-radius: 16px;
  padding-top: 20px;
  // padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  transition: opacity 0.2s;
  &--active {
    opacity: 1;
    transition: opacity 0.2s;
  }
}
.app {
  // position: relative;
  font-size: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
.modal {
  z-index: 5999;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
