@import "~taro-ui/dist/style/components/drawer.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/radio.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/input-number.scss";

.page_img {
  width: 100%;

  position: relative;
  border-top: solid 2px;
  //
  .uncheckicon {
    font-size: 62px;
    z-index: 12;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    &::before {
      display: inline-block;
      font-family: "checkfont" !important;

      content: "\e607";
      font-style: normal;
      opacity: 0.6;
      // color: #69c0ff;
    }
  }
  .uncheckicon_onhover {
    &::before {
      color: #1a73e8;
    }
  }
  .checkicon_checked {
    font-size: 60px;
    z-index: 12;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    &::before {
      background-color: #ffffff;
      border-radius: 50%;
      font-family: "iconfont" !important;
      content: "\e62f";
      color: #1a73e8;
      opacity: 1;
    }
  }
  .checkicon_checked_onhover {
    &::before {
      opacity: 0.6;
    }
  }
}
.page_img .blue_border {
  position: absolute;
  // z-index: 1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: solid 28px #d6e4ef;
  animation: generate_border 200ms;
}
@keyframes generate_border {
  from {
    border: solid 0px #d6e4ef;
  }
  to {
    border: solid 28px #d6e4ef;
  }
}
.page_img .cancel_blue_border {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  animation: cancel_border 200ms;
}
@keyframes cancel_border {
  from {
    border: solid 28px #d6e4ef;
  }
  to {
    border: solid 0px #d6e4ef;
  }
}
