.btn {
  margin: 50px auto;
  border-radius: 25px;

  box-shadow: 0 2px 4px 0 #000;
  display: inline-block;
  padding: 15px 50px;
  color: #333;
}

/* ripple */
.ripple {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  // border-radius: 10%;
}
.ripple .rippleContainer {
  // display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ripple .rippleContainer .bo {
  border-radius: 100%;
  position: absolute;
  animation: ripple 600ms;
  background-color: #b3b3b3;
  opacity: 1;
  transform: scale(0);
}

@keyframes ripple {
  // from {
  //   transform: scale(0);
  // }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
