/* 改变主题变量，具体变量名可查看 taro-ui/dist/style/variables/default.scss 文件 */
$color-brand: #1890ff;
$color-brand-light: #1890ff;
$color-brand-dark: #0050b3;
/* 背景色 */
$color-bg: #fff !default;
$color-bg-base: #fafbfc !default;
$color-bg-light: #ecf5fd !default;
$color-bg-lighter: tint($color-bg-light, 50%) !default;
$color-bg-grey: #f7f7f7 !default;
// #1890ff #52c41a #f5222d
// .at-avatar .at-avatar--small .at-avatar--circle .my-avatar {
.at-avatar--small {
  width: 70px;
  height: 70px;
}
.at-progress {
  .at-progress__outer {
    .at-progress__outer-inner {
      background-color: #f0f0f0;
      border-radius: 100px;
      .at-progress__outer-inner-background {
        height: 35px;
        border-radius: 150px;
        transition: all 0.1s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
        // background-color: #333;
      }
    }
  }
  .at-progress__content {
    display: inline-block;
    width: 2em;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 30px;
    line-height: 1;
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
    word-break: normal;
  }
}

/* 引入 Taro UI 默认样式 */
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/avatar.scss";

@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/icon.scss";

@import "~taro-ui/dist/style/components/progress.scss";

@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/message.scss";

@import "~taro-ui/dist/style/components/tag.scss";

@import "~taro-ui/dist/style/components/drawer.scss";
@import "~taro-ui/dist/style/components/list.scss";

@import "~taro-ui/dist/style/components/input-number.scss";
