view,
text,
scroll-view,
input,
button,
image,
cover-view {
  box-sizing: border-box;
}
page {
  /* prettier-ignore */
  --height: 44PX; /* 4*2+32 */
  /* prettier-ignore */
  --right: 97PX; /* 10+87 */
  /* prettier-ignore */
  --navBarExtendHeight: 4PX;
  /* prettier-ignore */
  --navBarHeight: 68PX;
}
.lxy-nav-bar {
  height: var(--navBarHeight);
  // border-bottom: solid 1px #999;
}
.lxy-nav-bar.android {
  /* prettier-ignore */
  --height: 48PX; /* 8*2+32 */
  /* prettier-ignore */
  --navBarHeight: 72PX;
  height: var(--navBarHeight);
}
.lxy-nav-bar .devtools {
  /* prettier-ignore */
  --height: 42PX; /* 5*2+32 */
}
.lxy-nav-bar__inner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5001;
  /* prettier-ignore */
  height:  var(--navBarHeight);
  // display: flex;
  align-items: center;
  padding-right: var(--right);
  width: 100%;
  /* prettier-ignore */
  padding-top: 20PX;
  /* prettier-ignore */
  padding-bottom:4PX;
}

.lxy-nav-bar__placeholder {
  height: var(--navBarHeight);
  background: #f8f8f8;
  position: relative;
  z-index: 50;
  visibility: hidden;
}
.back {
  font-family: "iconfont" !important;
  font-size: 45px;
  margin-left: 20px;
  margin-right: 40px;
}
.name_pages {
  position: relative;
  height: 100%;
  width: 100%;
  .fn {
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    font-size: 45px;
    width: 100%;
  }
  .choosed_pages {
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
    font-size: 25px;
    color: #8c8c8c;
  }
}
